body {
	background-image: url("../images/cloudbg.jpg");
	background-image: url(../images/cloudbg.jpg); /* IE */
	background-size: cover;

}

#container {
	margin: auto;
	width: 560px;
	padding: 20px;
	background-color: rgba(199, 230, 216, 0.5);
	border: 1px solid #9c9c9c;
	border-radius: 15px;
	z-index: -2;
}

@font-face {
    font-family: CherrySwash;
    src: url(../fonts/CherrySwash-Bold.ttf);
}

@font-face {
	font-family: MarckScript;
	src: url(../fonts/MarckScript-Regular.ttf);
}

#heading {
	width: 450px;
	margin: auto;
	text-align: center;
}

#heading a {
	text-decoration: none;
	-webkit-text-shadow: 0 2px 0 rgba(0,0,0,0.3);
	-moz-text-shadow: 0 2px 0 rgba(0,0,0,0.3);
	text-shadow: 0 2px 0 rgba(0,0,0,0.3);
}

h1 {
	color: #ffffff;
	font-family: CherrySwash;
	font-size: 55px;
	margin: 0px;
	margin-top: -20px;
}

.rose {
	color: #d7808b;
}

/* Navigation */

.button {
	display: inline-block;
	width: 25px;
	height: 100px;
	position: relative;
	line-height: 110px;
	vertical-align: top;
	margin-top: 20%;
	padding: 7px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #f4ebd4;
}

.left-button {
	border: 1px solid #c6a49a;
	border-radius: 8px 0px 0px 8px;
}

.right-button {
	border: 1px solid #c6a49a;
	border-radius: 0px 8px 8px 0px;
}


/* Link the divs of the navigation buttons */ 
.button a {
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-family: CherrySwash;
	font-size: 30px;
	text-decoration: none;
	color: #d67e89;
}

.inactive {
	background-color: rgba(196, 194, 194, 0.4);
	border-color: rgba(198, 164, 154, 0.4);
}

.inactive a{

	color: #abaaaa;
}
/* End link divs */

/* End navigation */


/* Lightbox */

#lightbox {
	display: inline-block;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
	border: 1px;
	border-radius: 15px;
}

img {
	width: 450px;
	height: auto;
	border: 1px;
	border-radius: 15px 15px 0px 0px;
	border-bottom: 1px dotted #9c9c9c;
}

video {
	width: 450px;
	height: auto;
	border: 1px;
	border-radius: 15px 15px 0px 0px;
	border-bottom: 1px dotted #9c9c9c;
}

img.sorry {
	border-radius: 15px 15px 15px 15px;
	border-bottom: none;
}

#photo_title {
	background-color: #fff!important;
	color: #e94076;
	font-family: MarckScript;
	font-size: 1.2em;
	text-align: center;
	width: 436px;
	height: auto!important;
	margin: auto;
	padding: 7px;
	margin-top: -5px;
	border: 1px;
	border-radius: 0px 0px 15px 15px;
	word-wrap: break-word;

}

#video_title {
	background-color: #fff!important;
	color: #e94076;
	font-family: MarckScript;
	font-size: 1.2em;
	text-align: center;
	width: 436px;
	height: auto!important;
	margin: auto;
	padding: 7px;
	margin-top: -5px;
	border: 1px;
	border-radius: 0px 0px 15px 15px;
	word-wrap: break-word;

}

/* Fade in effect */

.fadein {
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* End lightbox */