#container {
	margin: auto;
	width: 652px;
}

/* Navigation */



#buttons {
	display: inline-block;
	width: 30px;
	height: 100px;
	position: relative;
	line-height: 100px;
	background-color: #eeeeee;
	vertical-align: top;
	margin-top: 20%;
	padding: 7px;
	text-align: center;
}

/* Link the divs of the navigation buttons */ 
div a {
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/* End link divs */


#previous-photo {
}

#next-photo {
}

/* End navigation */

/* Lightbox */

img {
	border: 2px dotted #888888;
	width: 550px;
	height: auto;
}

#lightbox {
	display: inline-block;
}

#title {
	background-color: #000000;
	color: #ffffff;
	width: 550px;
	margin: auto;
	padding: 7px;
}

/* Fade in effect */

.fadein {
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* End lightbox */